<!DOCTYPE HTML>
<html>
	<head>
		<!-- [numbers: document title] -->
		<meta charset="utf-8" />
		<!-- [numbers: javascript links] -->
		<!-- [numbers: javascript data] -->
		<!-- [numbers: css links] -->
	</head>
	<body>
		<!-- [numbers: debug toolbar] -->
		<div id="page-wrapper">
			<table width="100%">
				<tr>
					<td width="50%"><div class="breadcrumbs"><!-- [numbers: breadcrumbs] --></div></td>
					<td width="50%" align="right"><div class="actions"><!-- [numbers: actions] --></div></td>
				</tr>
				<tr>
					<td colspan="2"><div class="title"><h3><!-- [numbers: title] --></h3></div></td>
				</tr>
				<tr>
					<td colspan="2"><div class="messages"><!-- [numbers: messages] --></div></td>
				</tr>
			</table>
			<?php echo $this->view; ?>
		</div>
		<!-- [numbers: layout onload] -->
	</body>
</html>